#profile-wrapper {
  max-width: 700px;
  display: flex;
}
.current_password {
  margin-top: 22px;
}
.current_password small {
  color: moccasin;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  padding: 5px;
}
.password-info {
  margin-bottom: 8px;
}
.email-container {
  border: 2px solid midnightblue;
  padding: 10px;
}
.update-btn {
  margin: 0 auto;
  width: 400px;
  height: 50px;
  padding: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efeaed;
  background-color: #8fafdf;
}
.update-btn:hover {
  background-color: #6a7f9e;
}
.confirm-password,
.email {
  margin-bottom: 12px;
}
h3 {
  text-transform: uppercase;
  text-align: center;
  color: gainsboro;
}
.email-block,
.password-block {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #73757e;
}
.input-container {
  width: 500px;
  height: 80%;
}
.back-btn {
  position: absolute;
  bottom: 65px;
  left: 4em;
}
