#profile-wrapper {
  max-width: 700px;
  display: flex;
}
.current_password {
  margin-top: 22px;
}
.current_password small {
  color: moccasin;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  padding: 5px;
}
.password-info {
  margin-bottom: 8px;
}
.email-container {
  border: 2px solid midnightblue;
  padding: 10px;
}
