<div class="email-block">
 <form action="" method="post">
      {{ form.hidden_tag() }}
        <fieldset>
        <legend>Update email and username</legend>
        <div class="name">
          {{form.username.label(class="label")}}
          <br />
          <i class="fa-solid fa-user"></i>
          {{form.username(class="form",placeholder="example")}} {% if
          form.username.errors %}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      
        <div class="email">
          {{form.email.label(class="label")}}
          <br />
          <i class="fa-solid fa-envelope"></i>
          {{form.email(class="form",placeholder="example@example.com")}} {% if
          form.email.errors %}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      <div>{{form.submit(class="button" ,id="profile")}}</div>
    </form></div>
<div class="password-block">
<form action="" method="post">
      {{ password_form.hidden_tag() }}
      <div class="current_password">
          {{password_form.current_password.label(class="label")}}
          <br />
          <div class="password-info">
            <small>(Required to change your password)</small>
          </div>
          <i class="fa-solid fa-lock"></i>
          {{password_form.current_password(class="password_form")}}
          {% if password_form.current_password.errors %}
              <div class="invalid-feedback">
                {% for error in password_form.current_password.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
          {% endif %}
        </div>
        </fieldset>
      <div class="password">
        {{password_form.password.label(class="label")}}
        <br />
        <i class="fa-solid fa-lock"></i>
        {{password_form.password(class="password_form")}}
        {% if password_form.password.errors %}
            <div class="invalid-feedback">
              {% for error in password_form.password.errors %}
                <span>{{error}}</span>
              {% endfor %}
            </div>
        {% endif %}
      </div>

      <div class="confirm-password">
        {{password_form.confirm_password.label(class="label")}}
        <br />
        <i class="fa-solid fa-lock"></i>
        {{password_form.confirm_password(class="password_form")}}
        {% if password_form.confirm_password.errors %}
            <div class="invalid-feedback">
              {% for error in password_form.confirm_password.errors %}
                <span>{{error}}</span>
              {% endfor %}
            </div>
        {% endif %}
      </div>    
      <div>{{password_form.submit(class="button",id="password")}}</div>
  </form>
</div>
  
