<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facial Expression Recognition</title>
    <link rel="stylesheet" href="style.css" />
    <script src="index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="vid-wrapper">
        <video id="vid"></video>
      </div>
      <div id="wrapper">
        <h2>Facial Expression Recognition Menu</h2>
        <input type="file" id="imageInput" accept="image/*" />
        <button id="cameraButton">Use Camera</button>
        <button id="metricsButton">Metrics</button>
        <button id="uploadButton" onclick="uploadImage()">
          Upload <span>&#8593;</span>
        </button>
        <div id="metrics"></div>
      </div>
    </div>
  </body>
</html>
