{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="nav">
    <div class="logo">
      <a href="{{ url_for('home') }}" class="logo">
        <img src="{{url_for('static',filename='assets/logo.jpg')}}" alt="logo" width="60" height="60" />
        <h2 class="heading">Facial Expression Recognition</h2>
      </a>
    </div>
    <div class="links">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('account') }}">My Profile</a>
      <a href="{{ url_for('logout') }}" id="logout">Logout</a>
      {% else %}
      <a href="{{ url_for('register') }}">Sign up</a>
      <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
  </div>
  <!--If user is not logged in -->
  {% if not current_user.is_authenticated %}
  <div class="header">
    <p class="header-content">
      Introducing our Facial Expression Recognition model with enhanced accuracy
      and dynamicity
    </p>
  </div>

  <div class="main">
    <div class="section">
      <img src="{{ url_for('static',filename='assets/happy_face.jpg')}}" alt="happy_face" width="300" />
      <p>
        Imagine being able to understand emotions with just a glance. Our Facial
        Expression Recognition model makes it possible, with cutting-edge
        technology to enhance reading faces with unparalleled accuracy 🙂.<br />
      </p>
    </div>
    <pre>
      .
      .
      .
    </pre>
    <div class="section">
      <p>
        We do not store your image or video data. We only keep logs of your
        facial expressions results.<br />
        We value your privacy 👌.<br />
        {% if not current_user.is_authenticated %} What are you waiting for?
        <br />
        <a href="{{ url_for('register') }}" class="sign"> Sign up </a>now and
        experience our model at its finest. {% endif %}
      </p>
      <img src="{{ url_for('static',filename='assets/excited_person.jpg')}}" alt="happy_face" width="300" />
    </div>
    <div class="signing-container">
      <div class="sign-text">
        <h3>Try it Now!</h3>
        <p>Sign up to start unlocking insights from faces</p>
      </div>
      <div class="sign-button">
        <a href="{{ url_for('register') }}">
          <button>Sign up</button>
        </a>
      </div>
    </div>
  </div>
  {% else %}
  <!-- If the user is logged in display the app -->


  <div class="notice">
    <div class="danger-icon">
      <i class="fa-solid fa-circle-exclamation"></i>
    </div>
    <div>
      <span class="note">
        <strong>Note:</strong> You need to enable your webcam first.</span>
      <span class="settings">
        Visit the settings page of your browser and click enable
      </span>
    </div>
  </div>
  <div class="wrap">
    <div id="container1">
      <div class="start-stop">
        <a href="#" id=5 onclick="startCamera()">Start Camera</a>
        <a href="#" id=6 onclick="stopCamera()">Stop Camera</a>
        <a href="#" id=7 onclick="adjustCanvas(true)">Adjust/Clear Canvas</a>
      </div>
      <br>
      <div id="canvas-parent">
        <canvas id="drawCanvas"></canvas>
        <video contrls id="videoElement" onloadeddata="adjustCanvas()"></video>
        <canvas id="captureCanvas"></canvas>
      </div>

    </div>
    <div id="container2">
      <h4>Analysis(times) :</h4>
      <div id="analytics">
        <p>Angry: <span id="angry">0</span></p>
        <p>Disgust: <span id="disgust">0</span></p>
        <p>Fear: <span id="fear">0</span></p>
        <p>Happy: <span id="happy">0</span></p>
        <p>Sad: <span id="sad">0</span></p>
        <p>Surprise: <span id="surprise">0</span></p>
        <p>Neutral: <span id="neutral">0</span></p>
      </div>
      <small id="analysis-info">Click stop camera to view analysis results</small>
    </div>
  </div>
  <br>
  <div id="graph-parent">
    <h3>Graph :</h3>
    <div id="graph">

    </div>

  </div>
  {% endif %}
  <div class="footer">
    <div class="copyright">
      <p>&copy;<span id="year"></span></p>
    </div>
  </div>
</div>
{% endblock content %}