{% extends "auth.html" %} {% block heading %} Login {% endblock heading %} {%
block paragraph %} Login using your <span>Email</span> and
<span>Password</span>{% endblock paragraph %} {% block input %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="email">
    {{form.email.label(class="label")}}
    <br />
    <i class="fa-solid fa-envelope"></i>
    {{form.email(class="form",placeholder="example@example.com")}}
  </div>
  <div class="password">
    {{form.password.label(class="label")}}
    <br />
    <i class="fa-solid fa-lock"></i>
    {{form.password(class="form")}}
  </div>
   {% if (form.email.errors != null) or (form.password.errors != null) %} 
    <div class="invalid-feedback">
      <span>Invalid Credentials</span>
    </div>
  {% endif %}
  {% endblock input %} {% block btn %}
  <div>{{form.submit(class="button")}}</div>
</form>
{% endblock btn %} {% block status %}
<p>
  Not registered?
  <a href="{{ url_for('register') }}" class="create-acc-link">Create account</a>
</p>
{% endblock status %}
